@model IEnumerable<Latt_Library.Models.Lending>

@{
    ViewData["Title"] = "LendBookIndex";
}

<h1>Lendings</h1>


<h4>you can view lendings here</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LentBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr style="background-color:@item.GetRowColor();">
            

                <td>
                    @Html.DisplayFor(modelItem => item.Lender.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LentBook.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCompleted)
                </td>
                <td>
                    <a asp-action="Complete" asp-route-id="@item.Id">Complete lending</a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>
